<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611764057156-94d1f368931msbogt3jqd8rfcbp19ch4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611764057156-94d1f368931msbogt3jqd8rfcbp19ch4</string>
	<key>API_KEY</key>
	<string>AIzaSyAL04xGcNyXYlfgxp5O58zqtxEqVblPIXc</string>
	<key>GCM_SENDER_ID</key>
	<string>611764057156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.esgi.wemouvflutter</string>
	<key>PROJECT_ID</key>
	<string>wemouvflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>wemouvflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611764057156:ios:ef1ebf4168b3f14a9cb811</string>
	<key>DATABASE_URL</key>
	<string>https://wemouvflutter.firebaseio.com</string>
</dict>
</plist>